<h1>Here is your <%= @trip.name %></h1>
<hr />


<p class = 'show' >Date: <%= @trip.date %></p>
<ul>
  <li>
<%= link_to 'Locations', trip_locations_path(@trip), class: "waves-effect waves-light btn" %>

<%= link_to 'Add Location', new_trip_location_path(@trip),class: "waves-effect waves-light btn" %>

<%= link_to 'Back to the Index!', trips_path,class: "waves-effect waves-light btn" %>

</li>
</ul>
