<h1>Address Location for: </h1>
<br />


<h1><%=@address.location_address %>
<ul>
  <li>
    Location Address: <%= @address.location_address %>
  </li>

  <li>
    Location Description: <%= @address.description %>
  </li>
</ul>



<br />
  <%= link_to 'Edit details', edit_location_address_path(@location)%>
  <br />
  <%= link_to 'Destroy', location_address_path(@location, @address), method: :delete%>
  <br />
  <%= link_to 'Back to Index', trip_locations_path(@trip) %>
