<h1>Edit Location for <%= @trip.name %></h1>
<hr />
<% if @location.errors.any? %>
  <h4> <%= @location.errors.count %> Errors Saving The Location </h4>
  <% @trip.errors.full_messages.each do |message| %>
    <h6> <%= message %> </h6>
  <% end %>
<% end %>
<%= form_for [@trip, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required:true %>
  <%= f.label :date %>
  <%= f.text_field :date, required:true  %>
  <%= f.submit %>
  <% end %>
