<h1>Locations For: <%= @trip.name %></h1>
<hr />

<% if @locations.any? %>

  <ul>
    <% @locations.each do |location| %>
      <li class = 'show'>
        <%= link_to location.name, trip_location_path(@trip, location) %>
        <div class = 'links'>
        <%= link_to 'Edit', edit_trip_location_path(@trip, location)%>
        <%= link_to 'Delete', trip_location_path(@trip, location), method: :delete%>

      </div>

      <% end %>
    </ul>

    <% else %>
      <h3>No Locations!, Make a new one!</h3>
    <% end %>

    <%= link_to 'Make new Location', new_trip_location_path, class: "waves-effect waves-light btn" %>

<br />
<%= link_to 'Back to Trip Index!', trips_path %>
