<h1>location show page</h1>
<hr />

<%= @location.name %>

<%= @location.date%>

<%= link_to 'Location Index', trip_locations_path(@trip) %>
<%= link_to 'New Address', new_location_address_path(@location) %>
<%= link_to 'Show Address', location_address_path(@location) %> 
